/* .side-bar{
    display:flex;

} */
.compose-btn{
    margin-top:15px !important;
    margin-left:10px !important;
    margin-bottom:15px !important;
    texxt-transform:capitalize !important;
    color:gray !important;
    padding:15px 30px !important;
    border-radius:30px !important;
    box-shadow:0px 2px 5px -2px rgb(0,0,0,0.75)

}
.sidebar-footer{
    display:flex; 
    justify-content:center;
}